body{
<<<<<<< HEAD
    background-color: rgb(248, 160, 160);
}
li{
    font-size: 20px;
=======
    background-color:  #f6aecc;
}
li{
    font-size: 19px;
>>>>>>> e7731714056b0771ea8e8bf366fa103f4fee6c08
}